﻿<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <i class="fa fa-wpforms"></i>
            Diretiva Mask
        </h3>
    </div>
    <div class="panel-body">
	<div class="form-group row">
        <div class="col-md-6">
            <label id="data" for="data" class="control-label">Data</label>
            <input class="form-control" ng-model="date" ngf-mask="data" placeholder="Data">
        </div>
        <div class="col-md-6">
            <div class="well well-sm well-example">
               dd/MM/yyyy
            </div>
        </div>
	</div>
    <div class="form-group row">
        <div class="col-md-6">
            <label id="data" for="data" class="control-label">Mês ano</label>
            <input class="form-control" ng-model="mesano" ngf-mask="mesano" placeholder="Data">
        </div>
        <div class="col-md-6">
            <div class="well well-sm well-example">
               MM/yyyy
            </div>
        </div>
    </div>
	<div class="form-group row">
        <div class="col-md-6">
            <label id="tempo" for="tempo" class="control-label">Tempo </label>
            <input class="form-control" ngf-mask="tempo" placeholder="Tempo">
        </div>
        <div class="col-md-6">
            <div class="well well-sm well-example">
               00:00:00
            </div>
        </div>
	</div>
	<div class="form-group row">
        <div class="col-md-6">
            <label id="hora" for="hora" class="control-label">Hora </label>
            <input class="form-control" ngf-mask="hora" placeholder="hora">
        </div>
        <div class="col-md-6">
            <div class="well well-sm well-example">
               00:00
            </div>
        </div>
	</div>
	<div class="form-group row">
        <div class="col-md-6">
            <label id="datahora" for="datahora" class="control-label">Data Hora </label>
            <input class="form-control" ngf-mask="datahora" placeholder="Data Hora">
        </div>
        <div class="col-md-6">
            <div class="well well-sm well-example">
               dd/MM/yyyy  00:00:00
            </div>
        </div>
	</div>
	<div class="form-group row">
        <div class="col-md-6">
            <label id="cep" for="cep" class="control-label">Cep </label>
            <input class="form-control" ngf-mask="cep" placeholder="Cep">
        </div>
        <div class="col-md-6">
            <div class="well well-sm well-example">
               00000-000
            </div>
        </div>
	</div>
	<div class="form-group row">
        <div class="col-md-6">
            <label id="telefone" for="telefone" class="control-label">Telefone </label>
            <input class="form-control" ngf-mask="telefone" placeholder="Telefone">
        </div>
        <div class="col-md-6">
            <div class="well well-sm well-example">
               0000-0000
            </div>
        </div>
	</div>
	<div class="form-group row">
        <div class="col-md-6">
            <label id="telefoneddd" for="telefoneddd" class="control-label">DDD Telefone </label>
            <input class="form-control" ngf-mask="telefoneddd" placeholder="DDD Telefone">
        </div>
        <div class="col-md-6">
            <div class="well well-sm well-example">
              (00) 0000-0000
            </div>
        </div>
	</div>
	<div class="form-group row">
        <div class="col-md-6">
            <label id="cpf" for="cpf" class="control-label">CPF </label>
            <input class="form-control" ngf-mask="cpf" placeholder="CPF">
        </div>
        <div class="col-md-6">
            <div class="well well-sm well-example">
              000.000.000-00
            </div>
        </div>
	</div>
	<div class="form-group row">
        <div class="col-md-6">
            <label id="cnpj" for="cnpj" class="control-label">CNPJ </label>
            <input class="form-control" ngf-mask="cnpj" placeholder="CNPJ">
        </div>
        <div class="col-md-6">
            <div class="well well-sm well-example">
              00.000.000/0000-00
            </div>
        </div>
	</div>
    <div class="form-group row">
        <div class="col-md-6">
            <label id="numerico" for="numerico" class="control-label">Numerico </label>
            <input class="form-control" ngf-mask="numerico" placeholder="Numerico">
        </div>
        <div class="col-md-6">
            <div class="well well-sm well-example">
              #
            </div>
        </div>
    </div>
	<div class="form-group row">
        <div class="col-md-6">
            <label id="preco" for="preco" class="control-label">Preço </label>
            <input class="form-control" ngf-mask="preco" placeholder="Preço">
        </div>
        <div class="col-md-6">
            <div class="well well-sm well-example">
              000.000.000.000.000,00
            </div>
        </div>
	</div>
	<div class="form-group row">
        <div class="col-md-6">
            <label id="preco2" for="preco2" class="control-label">Preço 2 </label>
            <input class="form-control" ngf-mask="preco2" placeholder="Preço 2">
        </div>
        <div class="col-md-6">
            <div class="well well-sm well-example">
              #.##0,00
            </div>
        </div>
	</div>
	<div class="form-group row">
        <div class="col-md-6">
            <label id="ip" for="ip" class="control-label">IP </label>
            <input class="form-control" ngf-mask="ip" placeholder="IP">
        </div>
        <div class="col-md-6">
            <div class="well well-sm well-example">
              0ZZ.0ZZ.0ZZ.0ZZ
            </div>
        </div>
	</div>
	</div>
</div>
